server:
  port: 8072
spring:
  application:
    name: "gatewayserver"
  zipkin:
    base-url: http://localhost:9411 #http://zipkin:9411
  sleuth:
    sampler:
      probability: 1.0
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false # Tells Spring Cloud Gateway to use the DiscoveryClient to locate info about microservices
              lower-case-service-id: true

eureka:
  instance:
    preferIpAddress: false
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/  # http://eurekaserver:8070/eureka/

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans #http://zipkin:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers,shutdown
  endpoint:
    health:
      show-details: always
    shutdown:
      access: unrestricted

logging:
  level:
    com:
      example:
        gatewayserver: INFO
